In [1]:
import pandas as pd
path = 'C:/Users/admin/OneDrive/Documents/Python_for_DS/practise/data/yfin_hist_data'

In [2]:
data = pd.read_csv(path + '/tata_power.csv')

In [3]:
data.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,TATAPOWER.NS,TATAPOWER.NS,TATAPOWER.NS,TATAPOWER.NS,TATAPOWER.NS,TATAPOWER.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-22,425.9772033691406,427.95001220703125,435.0,426.75,434.0,12126655
3,2024-04-23,427.66937255859375,429.6499938964844,432.3999938964844,427.6499938964844,430.04998779296875,9349694
4,2024-04-24,426.3255615234375,428.29998779296875,432.45001220703125,427.0,430.04998779296875,6456018

In [4]:
data['Ticker'] = 'TATAPOWER'
data = data.drop([0,1])
data.rename(columns={'Price':'Date'}, inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 2 to 247
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       246 non-null    object
 1   Adj Close  246 non-null    object
 2   Close      246 non-null    object
 3   High       246 non-null    object
 4   Low        246 non-null    object
 5   Open       246 non-null    object
 6   Volume     246 non-null    object
 7   Ticker     246 non-null    object
dtypes: object(8)
memory usage: 15.5+ KB

In [6]:
data.isnull().sum()

Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
Ticker       0
dtype: int64

In [7]:
data['Adj Close'] = data['Adj Close'].astype(float)
data['Close'] = data['Close'].astype(float)
data['High'] = data['High'].astype(float)
data['Low'] = data['Low'].astype(float)
data['Open'] = data['Open'].astype(float)
data['Volume'] = data['Volume'].astype(int)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 2 to 247
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       246 non-null    object
 1   Adj Close  246 non-null    float64
 2   Close      246 non-null    float64
 3   High       246 non-null    float64
 4   Low        246 non-null    float64
 5   Open       246 non-null    float64
 6   Volume     246 non-null    int64
 7   Ticker     246 non-null    object
dtypes: float64(5), int64(1), object(2)
memory usage: 15.5+ KB