In [21]:
import os
import requests
import pandas as pd
import yfinance as yf
from dotenv import load_dotenv

# Load API key
load_dotenv()
FMP_API_KEY = os.getenv("FMP_API_KEY")

In [22]:
# fetching forward EPS to df for PE ratio calculation
symbol = 'AAPL'
eps_url = f"https://financialmodelingprep.com/api/v3/income-statement/{symbol}?limit=10&apikey=0GA1mPE07wcK9cCJwaasxMftcrv88XvB"
eps_data = requests.get(eps_url).json()

In [23]:
eps_df = pd.DataFrame([{
    'date': pd.to_datetime(item['date']),
    'eps': item['eps']
} for item in eps_data])

In [24]:
eps_df

        date   eps
0 2024-09-28  6.11
1 2023-09-30  6.16
2 2022-09-24  6.15
3 2021-09-25  5.67
4 2020-09-26  3.31

In [15]:
stock = yf.download('AAPL', start='2024-01-01', end='2024-12-31')
stock.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [16]:
stock['Date'] = pd.to_datetime(stock['Date'])
eps_df = eps_df.sort_values('date')
stock = stock.sort_values('Date')

In [17]:
stock.columns = [col[0] if col[0] != "Price" else "Date" for col in stock.columns]
stock = stock.drop(index=[0, 1]).reset_index(drop=True)

In [19]:
merged = pd.merge_asof(stock, eps_df, left_on='Date', right_on='date', direction='backward')

# Step 4: Save to CSV for Tableau
merged[['Date', 'Open', 'High', 'Low', 'Close', 'eps']].to_csv('aapl_pe_ratio.csv', index=False)

In [20]:
merged.head()

,Date,Close,High,Low,Open,Volume,date,eps
0,2024-01-04,180.587524,181.758939,179.565014,180.825770,71983600,2023-09-30,6.16
1,2024-01-05,179.862839,181.431354,178.860187,180.666963,62303300,2023-09-30,6.16
2,2024-01-08,184.210999,184.250716,180.180517,180.766224,59144500,2023-09-30,6.16
3,2024-01-09,183.794052,183.803974,181.401569,182.582920,42841800,2023-09-30,6.16
4,2024-01-10,184.836411,185.044875,182.582909,183.009791,46792900,2023-09-30,6.16

In [ ]:
symbols = ['ACC.NS', 'BANKBARODA.NS', 'FEDERALBNK.NS', 'IRFC.NS',
    'LTTS.NS', 'LT.NS', 'NTPC.NS',
    'RCF.NS', 'RELIANCE.NS', 'STARCEMENT.NS', 'TATAPOWER.NS'
]

for symbol in symbols:
    print(requests.get(f'https://financialmodelingprep.com/stable/search-symbol?query={symbol}&apikey=0GA1mPE07wcK9cCJwaasxMftcrv88XvB').json(),end='\n\n')

[{'symbol': 'ACC.NS', 'name': 'ACC Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}, {'symbol': 'CREDITACC.NS', 'name': 'CreditAccess Grameen Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'BANKBARODA.NS', 'name': 'Bank of Baroda Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'FEDERALBNK.NS', 'name': 'The Federal Bank Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'IRFC.NS', 'name': 'Indian Railway Finance Corporation Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'LTTS.NS', 'name': 'L&T Technology Services Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'LT.NS', 'name': 'Larsen & Toubro Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}, {'symbol': 'SMLT.NS', 'name': 'Sarthak Metals Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}, {'symbol': 'ROLLT.NS', 'name': 'Rollatainers Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}, {'symbol': 'SETF10GILT.NS', 'name': 'SBI Nifty 10 yr Benchmark G-Sec ETF', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[]

[{'symbol': 'NTPC.NS', 'name': 'NTPC Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'RCF.NS', 'name': 'Rashtriya Chemicals and Fertilizers Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'RELIANCE.NS', 'name': 'Reliance Industries Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'STARCEMENT.NS', 'name': 'Star Cement Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]

[{'symbol': 'TATAPOWER.NS', 'name': 'The Tata Power Company Limited', 'currency': 'INR', 'exchangeFullName': 'National Stock Exchange of India', 'exchange': 'NSE'}]