In [2]:
# Note: The files read by this script are generated by get_data.py

import os
import psycopg2
import warnings
import pandas as pd
import datetime as dt
from dotenv import load_dotenv

load_dotenv()

warnings.filterwarnings('ignore')

In [5]:
base_path = os.getenv('BASE_PATH')
dataframe = pd.read_csv(f"{base_path}/data/ACC_NS_history.csv")

In [ ]:
dataframe.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,ACC.NS,ACC.NS,ACC.NS,ACC.NS,ACC.NS
1,Date,NaN,NaN,NaN,NaN,NaN
2,2025-02-18,1880.4000244140625,1903.949951171875,1820.5999755859375,1900.0,1070947
3,2025-02-19,1867.0999755859375,1905.1500244140625,1846.1500244140625,1851.0,187021
4,2025-02-20,1886.8499755859375,1890.0,1854.550048828125,1867.6500244140625,134186

: